h1{
    font-size: 4rem;
    text-align: center;
    margin-top: 12rem;
    text-transform: uppercase;
}

h2{
    text-align: justify;
    font-size: 6rem;
}

section .blog-title{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    margin:  0 auto;
    padding: 0;
}

.blog-title hr{
    margin-bottom: 4rem;
}

.blog-title li{
    list-style: square;
    font-size: 1.8rem;
    color: var(--main-color);
}

p{
    text-transform: lowercase;
}