@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color: rgb(233, 134, 22);
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    /* border: none; */
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    color: #fff;
}

html{
    font-size: 62.5%;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 0.8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
   padding: 2rem 7%;
    background-size: cover;
    object-fit: cover;
    text-align: center;
    overflow: hidden;
}

section h1{
    text-align: justify;
}

section h2{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.section ul{
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin:  0 auto;
    padding: 0;
}

section ul li{
    font-size: 2rem;
    padding-top: 2.3rem;
    /* list-style-type: square; */
}

hr{
    background-color: #fff;
}

li{
    list-style-type: none;
}

a button{
    background-color: var(--main-color);
    border-radius: 6px;
    padding: 0.4rem 0.8rem;
    margin-bottom: 0.6rem;
}



a:hover{
    color: var(--main-color);
    letter-spacing: 0.3rem;
}

a button:hover,
.architecture-btn a button:hover{
    background-color: #13131a;
    letter-spacing: 0.3rem;
}

span{
    color: var(--main-color);
    text-transform: uppercase;
}

#span-blog{
    text-align: center;
    margin: 2rem;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo img{
   height: 6rem;
}


.header .navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
}

header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: 0.5rem;
}

.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--main-color);
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    padding:1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color:var(--black);
}

.header .search-form label:hover{
    color:var(--main-color);
}

/** styling the cart items **/
.header .cart-items-container{
    position: absolute;
    top:100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding:0 1.5rem;
}

.header .cart-items-container.active{
    right: 0;
}

.header .cart-items-container .cart-item{
    position: relative;
    margin:2rem 0;
    display: flex;
    align-items: center;
    gap:1.5rem;
}

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover{
    color:var(--main-color);
}

.header .cart-items-container .cart-item img{
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 1.5rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color:var(--main-color);
}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}

/** Hero content and image styling **/
 .hero-section{
    background-image: url(../images/hero2.jpg);
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
    text-align: justify;
}



/*
.hero-content ul h1{
    font-size: 4rem;
    margin-top: 8rem;
}

.hero-content ul li{
    font-size: 1.7rem;
    padding: 0.6rem;
    list-style-type: disc;
} */


form input{
   
    height: 24px;
    margin-top: 2.3rem;
    color: var(--black);
    
}

form button {
    background: var(--main-color);
    border-radius: 5px;
    padding: 0.2rem 1rem;
}


/** Program section styling **/


.architecture-container ul,
.telecom-container ul{
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin:  0 auto;
    padding: 0;
}

.program-item, 
.blog-post-container,
.edu-content,
.architecture-container img,
.architecture-video video{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(190, 190, 190);
}


.program-item img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    float: left;
    padding: 16px;
}

.program-content{
    clear: both;
    overflow: auto;
}

.program-content h2{
    font-size: 1.5rem;
    color: #13131a;
}

.program-item p{
    font-size: 1rem;
    text-align: justify;
    line-height: 1.8rem;
    color: #010103;
    border-radius: 4px;
    clear: both;
    padding: 1rem;
}

.telecom-options li,
.telecom-options li b{
    color:var(--black);
    font-size: 1rem;
}

/** Start of blog container styling **/

/* .architecture-container,
footer{
   
    color: rgb(220, 220, 220);
    padding-bottom: 12rem;
} */

#recent-post-txt,
#edu-txt,
.architecture-container h2{
    font-size: 2.5rem;
    text-transform: capitalize;
    padding: 0.5rem;
}
/* 
.blog-post-container{
    height: 450px;
    overflow: scroll;
}

.blog-container img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 2px;
}

.blog-title-txt{
    color: var(--text-color);
    font-size: 0.8rem;
}

.blog-container h2{
    font-size: 1.2rem;
    text-transform: capitalize;
}


.blog-caption h3{
    font-size: 0.8rem;
}  */

/** End of blog container styling **/

/** start of the education container **/

 .edu-content{
    height: 150px;
}



.edu-content a p{
    text-transform: capitalize;
    font-size: 3.5rem;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #13131a;
}

#edu-txt{
    margin: 0;
} 

/** End of the education container **/

/** start of architecture section styling **/

.architecture-container img,
.architecture-video video{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.architecture-btn{
    padding-top: 3rem;
}

.architecture-btn a button{
    background-color: var(--main-color);
    padding: 0.4rem 1rem;
    margin-right: 3rem;
    font-size: 1.2rem;
    color: white;
    border-radius: 6px;
}


/** End of architecture section styling **/

/** start of styling the telecom container **/

/* .telecom-list li,
.telecom-list li b{
    color: #13131a;
} */

.download-btn{
    padding: 0;
    margin: 0;
}


/** End of styling the telecom container **/


/** start of footer styling */
.footer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin:  0 auto;
   font-size: 1.7rem;
   line-height: 3.2rem;
   align-items: center;
}


.footer p{
    text-align: justify;
    text-transform: lowercase;
    padding-left: 1.2rem;
}

.footer ul li{
    margin: 0;
    padding: 0;
}

/* .footer .share a{
    height: 5rem;
} */

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 2rem;
    color:#fff;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

/** End of styling the footer */