/**
* make the website responsive for smartPhone and Tablet device
* mobile device --- 480px == 30rem
* tablet device ---- 768px == 48rem
* Notebook ---- 1024px == 64rem
* Desktop computer --- 1200px ==  63.75rem
* TV ---- >1200px
*/


/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

    /* .hero-content ul h1{
        margin-top: 8rem;
    } */


    .program ul,
    .blog-container ul,
    .education-container ul,
    .architecture-container ul,
    .telecom-container ul,
    .footer{
        /* display: inline-block; */
        grid-template-columns: 1fr 1fr;
    }

}

/** styling for a TABLET device **/
@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }



    .program ul,
    .blog-container ul,
    .education-container ul,
    .architecture-container ul,
    .telecom-container ul,
    .footer{
        grid-template-columns: 1fr 1fr;
    }

}



/** Styling for a MOBILE Device **/
@media (max-width:48rem) {

    html{
        font-size: 60%;
    }

    .program ul,
    .blog-container ul,
    .education-container ul,
    .architecture-container ul,
    .telecom-container ul,
    .footer{
      grid-template-columns: 100%;
    }
}



@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .program ul,
    .blog-container ul,
    .education-container ul,
    .architecture-container ul,
    .telecom-container ul,
    .footer{
      grid-template-columns: 100%;
    }

} 